
.featured-area {
  display: flex;
  flex-direction: column;
}

.overlay-banner {
  flex: 2;
}

@media(min-width: 769px){
    
  .featured-area {
    flex-direction: row;
  }

  .overlay-banner {
    flex: 2;
  }

  .category-cards {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
  }
}