.toolbar__nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    height: 50px;
    width: 100%;
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
  }
  
  .toolbar_padding {
    all: unset;
  }

  @media(min-width: 769px){
    .toolbar__spacer {
      flex: 1;
    }

    .toolbar_padding {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 0px 50px;
      align-items: center;
    }
  }