/* mobile first */

.toolbar__menu {
  display: none;
  display: block;
  position: fixed;
  top: 0;
  left: -75%;
  z-index: 30;
  width: 75%;
  height: 100%;
  padding-top: 50px;
  font-size: calc(10px + 2vmin);
  box-sizing: border-box;
  box-shadow: 1px 1px 5px #2d2e31;
  transition: left 0.15s;
  background: #393b3f;
  color: white;

  /* - theme: white - */
  /* background-color: white; */
  /* color: black; */
}

.shown {
  left: -5%;
}

.toolbar__menu ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding-inline-start: 0;
  padding-bottom: 10px;
}

.toolbar__menu li {
  padding: 10px 50px;
}

.active {
  color: burlywood;
}

@media(min-width: 769px){

  .toolbar__menu {
    all: unset;
    display: contents;
    flex-direction: column;
  }

  .toolbar__menu ul {
    list-style: none;
    display: inherit;
  }
  
  .toolbar__menu li {
    float: left;
    padding: 0px 10px;
  }

  .toolbar__menu li:last-child {
    margin-right: 10px;
  }
  
  .toolbar__menu a:hover,
  .toolbar__menu a:active {
    color: burlywood;
  }
}


